/*ROOT*/
:root {
    --color-negro: #020202;
    --color-1: #0d324d;
    --color-2: #9da2ab;
    --color-tarjetas: #7f5a83;
}

/*Formateo*/
* {
    font-family: 'DM Sans';
    padding: 0;
    margin: 0;
    color: var(--color-2);
    font-weight: 700;

}

/*Cambiar el color del background*/
body {
    background: linear-gradient(to right, var(--color-negro), 40%, var(--color-1));
}

/*Alinear contenido al centro*/
header,
main,
footer {
    text-align: center;
}

/*Cambios en el NAV*/
.navbar {
    background: linear-gradient(to right, var(--color-negro), 40%, var(--color-1));
}

.navbar .nav-link {
    color: #fff !important;
}

.navbar .nav-link:hover {
    color: var(--color-1) !important;
}

.navbar-brand,
.navbar-nav .nav-link {
    font-family: 'Arial', sans-serif;
}

.navbar-brand {
    color: white !important;
}


/*Seccion HERO*/
.hero-section {
    padding: 60px 0;
    background: linear-gradient(to right, var(--color-negro), 40%, var(--color-1));
    color: var(--color-2);
    text-align: center;
}

.hero-section .display-4 {
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-section .lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.hero-section .btn {
    padding: 10px 30px;
    font-size: 1.1rem;
    margin-top: 10px;
}

.hero-section .btn-primary {
    background-color: #0d324d;
    border-color: #0d324d;
}

.hero-section .btn-outline-light {
    border-color: #ffffff;
    color: #ffffff;
}

.hero-section .btn-outline-light:hover {
    background-color: #ffffff;
    color: #007bff;
}

.texto-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.texto-vertical h1,
.texto-vertical p {
    margin: 10px 0;
}

.texto-vertical p {
    font-size: 1.25rem;
}

/*HERO MEDIA QUERIES*/
@media (max-width: 576px) {
    .hero-section .display-4 {
        font-size: 2rem;
    }

    .hero-section .lead {
        font-size: 1rem;
    }
}

/*Seccion INFO*/

.info-section {
    background: linear-gradient(to right, var(--color-negro), 40%, var(--color-1));
    color: var(--color-2);
}

.h2 {
    font-weight: 700;
}

.info-section .col-md-4 h5 {
    font-size: 1.3rem;
    font-weight: 600;
}

.info-section .col-md-4 p {
    font-size: 1rem;
    font-weight: 300;
}

/*Seccion POPULAR*/
.popular-section h2 {
    font-weight: 700;
}

.popular-section .card {
    transition: transform 0.2s;
}

.popular-section .card:hover {
    transform: scale(1.05);
}

.popular-section .card-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.popular-section .card-text {
    font-size: 1rem;
    font-weight: 300;
}

/*Seccion carousel*/
.carousel-section {
    background: linear-gradient(to right, var(--color-negro), 40%, var(--color-1));
    color: var(--color-2);
}

.carousel-section h2 {
    font-weight: 700;
}

.carousel-section .card {
    transition: transform 0.2s;
}

.carousel-section .card:hover {
    transform: scale(1.00);
}

.carousel-section .card-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.carousel-section .card-text {
    font-size: 1rem;
    font-weight: 300;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #343a40;
    border-radius: 50%;
    padding: 10px;

}

/*CARD: colores y estilos de las tarjetas en todas las secciones*/
.card-body {
    background-color: var(--color-tarjetas);
}

.card-title {
    color: white !important;
}

.card-text {
    color: white;
}

.card {
    overflow: hidden;
    background-color: transparent;
    border: none;
}

.card-img-top {
    width: 50%;
    height: 50%;
    object-fit: cover;
}



/*Cambios en el FOOTER*/
footer {
    background: linear-gradient(to right, var(--color-negro), 40%, var(--color-1));
    color: var(--color-1) !important;
}

footer {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
}

/*Container donde se ponen las fotos de las peliculas*/
.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/*Cambios en las IMAGENES*/

.appstore {
    width: 20%;
    margin-left: 40%;
    max-width: 90%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.avatar {
    width: 20%;
    margin-left: 40%;
    max-width: 90%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

/*LOGIN*/
.login {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    justify-content: center;
    margin-left: 40%;
}

.label-login {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}


.login input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button-login {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: var(--color-1);
    width: 100%;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #0056b3;
}