/*ROOT*/
:root{
    --color-negro: #020202;
    --color-1: #0d324d;
    --color-2: #9da2ab;
}

/*Formateo*/
*{
    font-family: 'DM Sans';
    padding: 0;
    margin: 0;
    color: var(--color-2);
    
}

/*Cambiar el color del background*/
body{
    background: linear-gradient(to right, var(--color-negro), var(--color-1));
}

/*Alinear contenido al centro*/
header, main, footer {
    text-align: center;
}

/*Cambios en el NAV*/
.navbar {
    background: linear-gradient(to right, var(--color-negro), var(--color-1));
}

/*Seccion HERO*/
.hero-section {
    padding: 60px 0;
    background: linear-gradient(to right, var(--color-negro), var(--color-1));
    color: var(--color-2);
    text-align: center; 
}

.hero-section .display-4 {
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-section .lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.hero-section .btn {
    padding: 10px 30px;
    font-size: 1.1rem;
    margin-top: 10px;
}

.hero-section .btn-primary {
    background-color: #0d324d;
    border-color: #0d324d;
}

.hero-section .btn-outline-light {
    border-color: #ffffff;
    color: #ffffff;
}

.hero-section .btn-outline-light:hover {
    background-color: #ffffff;
    color: #007bff;
}

.texto-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.texto-vertical h1,
.texto-vertical p {
    margin: 10px 0;
}

.texto-vertical p {
    font-size: 1.25rem;
}

/*HERO MEDIA QUERIES*/
@media (max-width: 576px) {
    .hero-section .display-4 {
        font-size: 2rem;
    }

    .hero-section .lead {
        font-size: 1rem;
    }
}

/*Cambios en el FOOTER*/
footer{
    background: linear-gradient(to right, var(--color-negro), var(--color-1));
    color: var(--color-1) !important;
}

footer {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
}

/*Cambios en TARJETAS*/
.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

/* Cambiar el color de los enlaces */
.navbar .nav-link {
    color: #fff !important;
}

/* Cambiar el color del enlace cuando el ratón pasa por encima */
.navbar .nav-link:hover {
    color: var(--color-1) !important;
}

/* Cambiar la fuente de la navbar */
.navbar-brand, .navbar-nav .nav-link {
    font-family: 'Arial', sans-serif;
}

/* Cambiar el color del texto de la marca */
.navbar-brand {
    color: var(--color-1) !important;
}

/*Container donde se ponen las fotos de las peliculas*/
.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/*Estilo adicional para los botones del carrusel */
.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5);
    width: 3%;
}






/*Cambios en las IMAGENES*/
img {
    max-width: 90%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.appstore{
    width: 20%;
    margin-left: 40%;
}

.avatar{
    width: 20%;
    margin-left: 40%;
}

/*LOGIN*/
.login {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    justify-content: center;
    margin-left: 40%;
}

.label-login {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}


input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button-login {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: var(--color-2);
    width: 100%;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Botones*/
.btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}


/*Calendario (sacado de una template, puesto como placehodler)*/
