@charset "UTF-8";
.perfilMain {
  font-family: "DM Sans";
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.perfilNombre {
  margin: 10px 0;
}

h6 {
  margin: 5px 0;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 21px;
}

.card-container {
  background-color: #231E39;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  padding-top: 30px;
  position: relative;
  width: 30%;
  max-width: 100%;
  text-align: center;
}
.card-container .round {
  border: 1px solid #0d324d;
  border-radius: 50%;
  padding: 7px;
}
.card-container button.primary {
  background-color: #0d324d;
  border: 1px solid #0d324d;
  border-radius: 3px;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
}
.card-container button.primary.ghost {
  background-color: transparent;
  color: #ffffff;
}

@media (max-width: 875px) {
  .card-container {
    width: 60%;
  }
}
@media (max-width: 450px) {
  .card-container {
    width: 75%;
  }
}
.generos {
  background-color: #1F1A36;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
}
.generos ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.generos ul li {
  border: 1px solid #2D2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
}

/*Cambios en NavBar*/
header {
  position: sticky;
  top: 0;
  z-index: 1;
}
header .navbar {
  background: linear-gradient(to right, #020202, 40%, #0d324d);
  height: 8rem;
}
header .navbar .nav-link {
  color: #fff;
  font-size: 1.3rem;
}
header .navbar .nav-link:hover {
  color: #007bff;
}
header .navbar .navbar-brand {
  color: #fff;
  font-size: 1.5rem;
}
header .navbar .navbar-brand:hover {
  color: #007bff;
}

/*MediaQuery para que el fondo no se vea transparente al ser collapse*/
@media (max-width: 991px) {
  .navbar-collapse {
    background: linear-gradient(to right, #020202, 40%, #0d324d);
    z-index: 2;
  }
}
a, a:hover {
  text-decoration: none;
  transition: 0.3s ease-in-out;
  color: #fff;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  background-color: #231E39;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 5rem 0 5rem 0rem;
  overflow: hidden;
  position: relative;
  color: #fff;
  width: 80%;
  margin-left: 10%;
}
.postcard h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.postcard .small {
  font-size: 80%;
}
.postcard .postcard__title {
  font-size: 1.75rem;
}
.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.postcard .postcard__img_link {
  display: contents;
}
.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #0d324d;
  transition: width 0.2s ease;
}
.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}
.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: #0d324d;
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}
.postcard .postcard__tagbox .tag__item:hover {
  background: #007bff;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
  .postcard .postcard__title {
    font-size: 2rem;
  }
  .postcard .postcard__tagbox {
    justify-content: start;
  }
  .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }
  .postcard .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #020202;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .postcard:hover .postcard__img {
    transform: scale(1.05);
  }
  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }
  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }
  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }
}
/*SECCION CALENDARIO eventos.html*/
.calendario {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "DM Sans";
}
.calendario .tituloCalendario {
  font-weight: 800;
  margin: 1rem 0 0;
  color: #fff;
}
.calendario .listaCalendario {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  list-style: none;
  padding: 0;
}
.calendario .listaCalendario .itemListaCalendario, .calendario .listaCalendario .today {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  font-weight: 300;
  font-size: 0.8rem;
  box-sizing: border-box;
  background: #231E39;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
}
.calendario .listaCalendario .itemListaCalendario time, .calendario .listaCalendario .today time {
  font-size: 1.3rem;
  margin: 0 0 1rem 0;
  font-weight: 400;
}
.calendario .listaCalendario .itemListaCalendario:hover, .calendario .listaCalendario .today:hover {
  transform: scale(1.05);
}
.calendario .listaCalendario .today {
  background: #007bff;
}
.calendario .listaCalendario .today time {
  font-weight: 500;
  font-size: 2rem;
}

/*Media Queries Calendario*/
@media (max-width: 1200px) {
  .listaCalendario {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 992px) {
  .listaCalendario {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .listaCalendario {
    grid-template-columns: 1fr 1fr;
  }
  .itemListaCalendario, .calendario .listaCalendario .today {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    font-weight: 300;
    font-size: 0.7rem;
    box-sizing: border-box;
    background: #231E39;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
  }
  .itemListaCalendario time, .calendario .listaCalendario .today time {
    font-size: 1.8rem;
    margin: 0 0 1rem 0;
    font-weight: 400;
  }
}
@media (max-width: 576px) {
  .listaCalendario {
    grid-template-columns: 1fr;
  }
  .itemListaCalendario, .calendario .listaCalendario .today {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.75rem;
    font-weight: 300;
    font-size: 0.8rem;
    box-sizing: border-box;
    background: #231E39;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
  }
  .itemListaCalendario time, .calendario .listaCalendario .today time {
    font-size: 2rem;
    margin: 0 0 1rem 0;
    font-weight: 400;
  }
}
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* Escondido por defecto */
  background-color: #020202;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

#back-to-top:hover {
  background-color: #231E39;
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #007bff;
  padding-right: 40px;
  color: #fff;
}

.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}

.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/*GENERALES*/
* {
  font-family: "DM Sans";
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: 700;
}

/*Cambios en BODY*/
body {
  background: linear-gradient(to right, #020202, 40%, #0d324d);
}
body header,
body main,
body footer {
  text-align: center;
}

/*Seccion INFO*/
.info-section {
  background: linear-gradient(to right, #020202, 40%, #0d324d);
  color: #fff;
}
.info-section .h2 {
  font-weight: 700;
}
.info-section .col-md-4 h5 {
  font-size: 1.3rem;
  font-weight: 600;
}
.info-section .col-md-4 p {
  font-size: 1rem;
  font-weight: 300;
}

/*CARD: Colores y estilos de las tarjetas en todas las secciones*/
.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card .card-body {
  background-color: #231E39;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}
.card h5 {
  margin: 0;
  color: #fff !important;
}
.card text {
  color: white;
}
.card .card-img-top {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 600px;
}
.card h3 {
  font-weight: 700;
}
.card .card {
  transition: transform 0.2s;
}
.card .card-title {
  font-size: 1.2rem;
  font-weight: 600;
}
.card .card-text {
  font-size: 1rem;
  font-weight: 300;
}
.card .card-link {
  text-decoration: underline;
}

.card:hover {
  transform: scale(1.05);
}

/*Cambios en el FOOTER*/
footer {
  background-color: #020202;
  color: #0d324d;
}
footer a.nav-link {
  color: white;
  font: bolder;
}
footer a.nav-link:hover {
  color: #231E39;
}

/*Cambios en las IMAGENES*/
.img-brand {
  height: 13vh;
}

.appstore {
  width: 40%;
  max-width: 70%;
  height: auto;
}

.avatar {
  width: 20%;
  margin-left: 40%;
  max-width: 90%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

/*LOGIN Y REGISTRO*/
.login {
  background: linear-gradient(#020202, 40%, #0d324d);
  color: white;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 20%;
  text-align: center;
  justify-content: center;
  margin-left: 40%;
}
.login input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #020202;
}
.login a {
  color: #fff;
}

.label-login {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  color: #fff;
  font-weight: bold;
}

.button-login {
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #231E39;
  width: 100%;
  font-size: 16px;
}

/*MEDIA QUERIES Login y Calendario*/
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: #0d324d;
}

@media (max-width: 500px) {
  .login h3 {
    font-size: 2.5vh;
  }
  .login input#first {
    font-size: 1.3vh;
  }
  .login input#password {
    font-size: 1.3vh;
  }
}
@media (max-width: 576px) {
  .login {
    width: 80%;
    height: fit-content;
    font-size: 0.8rem;
    margin-left: 30%;
  }
  .login h1 {
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  .login {
    width: 60%;
    font-size: 1rem;
    margin-left: 30%;
  }
  .login h1 {
    font-size: 1.2rem;
  }
}
@media (max-width: 992px) {
  .login {
    width: 50%;
    font-size: 1rem;
    margin-left: 30%;
  }
  .login h1 {
    font-size: 1.2rem;
  }
}
@media (max-width: 1200px) {
  .login {
    width: 40%;
    font-size: 1rem;
    margin-left: 30%;
  }
  .login h1 {
    font-size: 1.2rem;
  }
}
@media (min-width: 1201px) {
  .login {
    width: 40%;
    font-size: 1rem;
    margin-left: 30%;
  }
  .login h1 {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
