@import "variables";

/*SECCION CALENDARIO eventos.html*/
.calendario{
  h2{
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
  }
}


.event-container{
  font-family: 'DM Sans';
  max-width: 800px;
  margin: 0 auto;

  h3.month{
    font-size: 40px;
    text-align: center;
    border-bottom: 2px solid $color-blanco;
  }

  .event {
    box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
    display: flex;
    border-radius: 8px;
    margin: 32px 0;
  }
  
}

.event .event-left {
  background: $color-negro;
  min-width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-blanco;
  padding: 8px 48px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px 0 0 8px;
}

.event .event-left .date {
  font-size: 56px;
}

.event .event-left .month {
  font-size: 16px;
  font-weight: normal;
}

.event .event-right {
  background-color: $color-tarjetas;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}

.event .event-right h3.event-title {
  font-size: 24px;
  margin: 24px 0 10px 0;
  color: $color-blanco;
  text-transform: uppercase;
}
.tag__item {
  display: inline-block;
  background: $color-1;
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
  margin-top: 10px;

  &:hover {
    background: $color-3;
  }
}


@media (max-width: 550px) {
  .event {
    flex-direction: column;
  }

  .event .event-left {
    padding: 0;
    border-radius: 8px 8px 0 0;
  }

  .event .event-left .event-date .date,
  .event .event-left .event-date .month {
    display: inline-block;
    font-size: 24px;
  }

  .event .event-left .event-date {
    padding: 10px 0;
  }
}
