@import "variables";

/*Cambios en Hero*/
// Mixin para los botones
@mixin btn-style($padding, $font-size, $margin-top) {
  padding: $padding;
  font-size: $font-size;
  margin-top: $margin-top;
}

// Mixin para textos
@mixin text-style($margin, $font-size) {
  margin: $margin;
  font-size: $font-size;
}

.hero-section {
  padding: 60px 0;
  background: linear-gradient(to right, $color-negro, 40%, $color-1);
  color: $color-2;
  text-align: center;

  .display-4 {
    font-weight: 700;
    margin-bottom: 20px;
  }

  .lead {
    @include text-style(0, 1.25rem);
    font-weight: 300;
  }

  .btn {
    @include btn-style(10px 30px, 1.1rem, 10px);
  }

  .btn-primary {
    @extend .btn;
    background-color: $color-1;
    border-color: $color-1;
  }

  .btn-outline-light {
    @extend .btn;
    border-color: $color-blanco;
    color: $color-blanco;

    &:hover {
      background-color: $color-blanco;
      color: $color-3;
    }
  }

  .texto-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    h1 {
      margin: 10px 0;
    }

    p {
      @include text-style(10px 0, 1.25rem);
    }
  }
}

/* HERO MEDIA QUERIES */
@media (max-width: 576px) {
  .hero-section {
    .display-4 {
      font-size: 2rem;
    }

    .lead {
      font-size: 1rem;
    }
  }
}