@import "variables";

.perfilMain {
	font-family: "DM Sans";
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0;
}

.perfilNombre {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
	background-color: $color-tarjetas;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #ffffff;
	padding-top: 30px;
	position: relative;
	width: 30%;
	max-width: 100%;
	text-align: center;

	.round {
		border: 1px solid $color-1;
		border-radius: 50%;
		padding: 7px;
	}
	
	button.primary {
		background-color: $color-1;
		border: 1px solid $color-1;
		border-radius: 3px;
		color: #ffffff;
		font-family: Montserrat, sans-serif;
		font-weight: 500;
		padding: 10px 25px;
	}
	
	button.primary.ghost {
		background-color: transparent;
		color: #ffffff;
	}
}

@media (max-width: 875px){
	.card-container{
		width: 60%;
	}
}

@media (max-width: 450px){
	.card-container{
		width: 75%;
	}
}



.generos {
	background-color: #1F1A36;
	text-align: left;
	padding: 15px;
	margin-top: 30px;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			border: 1px solid #2D2747;
			border-radius: 2px;
			display: inline-block;
			font-size: 12px;
			margin: 0 7px 7px 0;
			padding: 7px;
		}
	}
}

