@import "variables";
@import "perfil";
@import "navbar";
@import "postcard";
@import "calendario";
@import "backtotop";
@import "search";


/*GENERALES*/
* {
  font-family: "DM Sans";
  padding: 0;
  margin: 0;
  color: $color-2;
  font-weight: 700;
}

/*Cambios en BODY*/
body {
  background: linear-gradient(to right, $color-negro, 40%, $color-1);
  
  header,
  main,
  footer {
    text-align: center;
    
  }
}

/*Seccion INFO*/

.info-section {
  background: linear-gradient(to right, $color-negro, 40%, $color-1);
  color: $color-2;
  .h2 {
    font-weight: 700;
  }
  
  .col-md-4 h5 {
    font-size: 1.3rem;
    font-weight: 600;
  }
  
  .col-md-4 p {
    font-size: 1rem;
    font-weight: 300;
  }
}


/*CARD: Colores y estilos de las tarjetas en todas las secciones*/

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .card-body {
    background-color: $color-tarjetas;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
  }

  h5 {
    margin: 0;
    color: $color-blanco !important;
  }

  text {
    color: white;
  }

  .card-img-top {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 600px;
  }

  h3 {
    font-weight: 700;
  }

  .card {
    transition: transform 0.2s;
  }

  .card-title {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .card-text {
    font-size: 1rem;
    font-weight: 300;
  }

  .card-link{
    text-decoration: underline;
  }
}

.card:hover {
  transform: scale(1.05);
}

/*Cambios en el FOOTER*/
footer {
  background-color: $color-negro;
  color: $color-1;

  a.nav-link {
    color: white;
    font: bolder;
  }

  a.nav-link:hover{
    color: $color-tarjetas;
  }
}

/*Cambios en las IMAGENES*/

.img-brand{
  height:13vh;
}


.appstore {
  width: 40%;
  max-width: 70%;
  height: auto;
}

.avatar {
  width: 20%;
  margin-left: 40%;
  max-width: 90%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

/*LOGIN Y REGISTRO*/
.login {
  background: linear-gradient($color-negro, 40%, $color-1);
  color: white;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 20%;
  text-align: center;
  justify-content: center;
  margin-left: 40%;

  input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: $color-negro;
  }

  a {
    color: $color-2;
  }
}

.label-login {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  color: #fff;
  font-weight: bold;
}

.button-login {
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: $color-tarjetas;
  width: 100%;
  font-size: 16px;
}

/*MEDIA QUERIES Login y Calendario*/

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: $color-1;
}



@media (max-width: 500px) {
    .login {
      h3 {
        font-size: 2.5vh;
      }
  
      input#first {
        font-size: 1.3vh;
      }
  
      input#password {
        font-size: 1.3vh;
      }
    }
  }
  
  @media (max-width: 576px) {
    .login {
      width: 80%;
      height: fit-content;
      font-size: 0.8rem;
      margin-left: 30%;
    }
  
    .login h1 {
      font-size: 0.8rem;
    }
  }
  
  @media (max-width: 768px) {
    .login {
      width: 60%;
      font-size: 1rem;
      margin-left: 30%;
    }
  
    .login h1 {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 992px) {
    .login {
      width: 50%;
      font-size: 1rem;
      margin-left: 30%;
    }
  
    .login h1 {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 1200px) {
    .login {
      width: 40%;
      font-size: 1rem;
      margin-left: 30%;
    }
  
    .login h1 {
      font-size: 1.2rem;
    }
  }
  
  @media (min-width: 1201px) {
    .login {
      width: 40%;
      font-size: 1rem;
      margin-left: 30%;
    }
  
    .login h1 {
      font-size: 1.2rem;
    }
  }
  
  
  
