@import "variables";
@import "perfil";
@import "navbar";
@import "postcard";
@import "calendario";
@import "backtotop";
@import "search";
@import "login";
@import "card";


/*GENERALES*/
* {
  font-family: "DM Sans";
  padding: 0;
  margin: 0;
  color: $color-2;
  font-weight: 700;
}

/*Cambios en BODY*/
body {
  background: linear-gradient(to right, $color-negro, 40%, $color-1);
  
  header,
  main,
  footer {
    text-align: center;
    
  }
}

/*Seccion INFO*/

.info-section {
  background: linear-gradient(to right, $color-negro, 40%, $color-1);
  color: $color-2;
  .h2 {
    font-weight: 700;
  }
  
  .col-md-4 h5 {
    font-size: 1.3rem;
    font-weight: 600;
  }
  
  .col-md-4 p {
    font-size: 1rem;
    font-weight: 300;
  }
}

/*FOOTER*/
footer {
  background-color: $color-negro;
  color: $color-1;

  a.nav-link {
    color: white;
    font: bolder;
  }

  a.nav-link:hover{
    color: $color-tarjetas;
  }
}

/*Cambios menores*/

.img-brand{
  height:13vh;
}


.appstore {
  width: 40%;
  max-width: 70%;
  height: auto;
}

.avatar {
  width: 20%;
  margin-left: 40%;
  max-width: 90%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: $color-1;
}


.popular-section{

  h4{
    margin-bottom: 50px;
  }
}


  
  
